


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}


/* shar style */
.displayflex {
    display: flex;

}




nav{
    max-width: 1200px ;
   
    
    margin: 0px auto;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    /* background-color: rgb(160, 156, 156); */

}


.nav-menu{
    max-width: 400px;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
    /* background-color: brown; */


}
nav h4{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
.nav-menu a{
    text-decoration: none;
    color: #424242;
    
}
.baner-title{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;


}
.title-hading{
font-size: 64px;
font-weight: 700;
text-align: center;


}

.baner-title p{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
}

.btn-primery{
    width: 210px;
    margin-top: 20px;
    background-color: #FF900E;
    color: aliceblue;
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    margin-top: 20px;

}
.btn{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title-image{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 20px;


}